spring:
  application:
    name: bank-card-system

  datasource:
    url: jdbc:postgresql://postgres:5432/bank_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

app:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration: 86400000 # 24 hours
  encryption:
    key: MySuperSecretKeyForAESEncryption123
  card:
    mask-pattern: "**** **** **** %s"
    max-initial-balance: 1000000.00
  transfer:
    max-amount: 1000000.00

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    url: /api-docs
    operations-sorter: method
    tags-sorter: alpha
    enabled: true
  show-actuator: false